.container {
  display: flex;
  justify-content: center;
  padding: 70px 70px;
  background-color: var(--dark-gray);
}

.container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 900px;
}

.container input {
  height: 50px;
  width: 100%;
  outline: none;
  background-color: var(--dark-gray);
  border: none;
  border-bottom: 1px solid var(--black);
  color: var(--light-gray);
  font-size: 35px;
}

.container input::placeholder {
  color: var(--black);
}

.add {
  display: flex;
}

.error {
  padding-top: 10px;
  color: rgb(172, 13, 13);
}

.container .button {
  background-color: var(--dark-gray);
  border: 1px solid var(--black);
  width: 60px;
  border-radius: 5px 5px 5px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.container .button:hover {
  background-color: var(--black);
  color: var(--dark-gray);
}

@media (max-width: 1300px) {
  .container {
    padding: 70px 200px;
  }
}

@media (max-width: 1100px) {
  .container {
    padding: 70px 150px;
  }
}
@media (max-width: 900px) {
  .container {
    padding: 70px 100px;
  }
}

@media (max-width: 465px) {
}
