.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid;
  padding: 15px 15px;
  cursor: grab;
}

.opacity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid;
  padding: 15px 15px;
  opacity: 20%;
}

.container:hover {
  background-color: var(--light-gray);
  color: var(--black);
}

.delete {
  display: flex;
  cursor: pointer;
}

.delete:hover {
  color: rgb(172, 13, 13);
}

.completed {
  background-color: var(--gray);
  color: var(--black);
}
