.container {
  display: flex;
  justify-content: center;
  padding: 70px 70px;
}

.container .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 940px;
  color: var(--lightest-gray);
}

@media (max-width: 1300px) {
  .container {
    padding: 70px 180px;
  }
}

@media (max-width: 1100px) {
  .container .wrapper {
    flex-direction: column;
  }
  .container {
    padding: 70px 130px;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 70px 80px;
  }
}
