@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --lightest-gray: #bfbfbf;
  --light-gray: #87898c;
  --gray: #595959;
  --dark-gray: #262626;
  --black: #0d0d0d;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
